<div class="container">
  <a class="item" [routerLinkActiveOptions]="{exact: true}" routerLink="" routerLinkActive="active">Home</a>
  <a class="item" routerLink="/articles-list" routerLinkActive="active">List</a>
  <a class="item" routerLink="/login" routerLinkActive="active">Login</a>
  <a class="item" routerLink="/registration" routerLinkActive="active">Registration</a>
  <a class="item" routerLink="/users" routerLinkActive="active">Users</a>
  <a class="item" routerLink="/states" routerLinkActive="active">States</a>
  <a class="item" routerLink="/images" routerLinkActive="active">Images</a>
</div>
