<app-header></app-header>

<div class="wrapped">
  <form [formGroup]="registrationForm" class="fromRegistration">

    <mat-form-field appearance="legacy">
      <mat-label>EMAIL</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        [class.is-invalid]="email.invalid && email.touched"
      >
    </mat-form-field>

    <div *ngIf="(email.invalid && email.touched) || email.dirty">
      <small *ngIf="email.errors?.required" class="error">
        Поле обязательное для ввода
      </small>

      <div>
        <small *ngIf="email.errors?.minlength" class="error">
          Минимальная длинна 5 символов
        </small>
      </div>

      <div>
        <small *ngIf="email.errors?.pattern" class="error">
          Не верный email
        </small>
      </div>

      <small *ngIf="email.errors?.maxlength" class="error">
        Максимальная длинна 15 символов
      </small>
    </div>

    <mat-form-field appearance="legacy" class="password">
      <mat-label>PASSWORD</mat-label>
      <input
        matInput
        #input
        maxlength="15"
        placeholder="password"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        [class.is-invalid]="password.invalid && password.touched"
      >

      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-hint align="end">{{ input.value?.length || 0 }}/15</mat-hint>
    </mat-form-field>

    <div class="hint">
      <mat-hint class="error">
        *Не менее 6 символов
      </mat-hint>
    </div>

    <div class="hint">
      <mat-hint class="error">
        *Должны быть цифры и латинские буквы
      </mat-hint>
    </div>

    <div *ngIf="(password.invalid && password.touched) || password.dirty">
      <small *ngIf="password.errors?.required" class="error">
        Поле обязательное для ввода
      </small>

      <small *ngIf="password.errors?.pattern" class="error">
        Пожалуйста, укажите пароль который будет соответсвовать всем требованиям
      </small>
    </div>

    <mat-form-field appearance="legacy">
      <mat-label>NAME</mat-label>
      <input
        matInput
        formControlName="name"
        [class.is-invalid]="name.invalid && name.touched"
      >
    </mat-form-field>

    <div *ngIf="(name.invalid && name.touched) || name.dirty">
      <small *ngIf="name.errors?.required" class="error">
        Поле обязательное для ввода
      </small>
    </div>

    <mat-form-field appearance="legacy">
      <mat-label>SURNAME</mat-label>
      <input
        matInput
        formControlName="surname"
        [class.is-invalid]="surname.invalid && surname.touched"
      >
    </mat-form-field>

    <div *ngIf="(surname.invalid && surname.touched) || surname.dirty">
      <small *ngIf="surname.errors?.required" class="error">
        Поле обязательное для ввода
      </small>
    </div>

    <mat-form-field appearance="legacy">
      <mat-label>PHONE</mat-label>
      <input
        matInput
        formControlName="phone"
        type="number"
        [class.is-invalid]="phone.invalid && phone.touched"
      >
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <div *ngIf="(phone.invalid && phone.touched) || phone.dirty">
      <small *ngIf="phone.errors?.required" class="error">
        Поле обязательное для ввода
      </small>
    </div>

  </form>

  <button
    mat-raised-button
    type="submit"
    [disabled]="!registrationForm.valid"
    class="button"
  >
    Registration
  </button>
</div>
